<div id="page-content">
  <div class="container">
    <h1 class="text-center mt-4">All Articles</h1>
    <a href="#"><%= link_to "Create New Article", new_article_path, class: " container btn btn-success" %></a>

    <div class="flickr_pagination mt-4">
      <%= will_paginate @articles, :container => false %>
    </div>

    <%= render 'article' %>

    <div class="flickr_pagination mt-4 mb-4">
      <%= will_paginate @articles, :container => false %>
    </div>
  </div>
</div>