@import "bootstrap/dist/css/bootstrap";

.navbar {
  background-color: black !important;
}
.nav-link {
  color: white !important;
}

#logo {
  font-size: 1.7em;
  color: #F7F7F7;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-container {
  margin-top: 25px;
}

.jumbotron {
  background-image: asset-url('jumbo.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400%;
}