@import "bootstrap/dist/css/bootstrap";

html, body {
  height:100%;
}
.navbar {
  background-color: black !important;
}
.nav-link {
  color: white !important;
}

#logo {
  font-size: 1.7em;
  color: #F7F7F7;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  text-decoration: none;
}

#home-container {
  margin-top: 25px;
}

.jumbotron {
  background-image: asset-url('jumbo.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400%;
}

#page-content {
  flex: 1 0 auto;
  background: #666666;
}

#sticky-footer {
  flex-shrink: none;
}

